@import "../variables";

.search_container {
  align-items: center;
  display: flex;

  input {
    border: 1px solid $color-black;
    border-radius: 8px 0px 0px 8px;
    border-width: 1px 0px 1px 1px;
    font-size: 20px;
    max-height: 100%;
    outline: 0;
    padding: 4px;

    &::placeholder {
      font-style: italic
    };
  };

  .icon_content {
    background-color: $background-color-red;
    border: 1px solid $color-black;
    border-radius: 0px 8px 8px 0px;
    border-width: 1px 1px 1px 0px;
    max-height: 100%;
    padding: 4px;
    transition: all 0.2s;

    &:hover {
      background-color: $background-color-red-hover;
    };

    .icon {
      align-items: center;
      color: $font-white;
      display: flex;
      font-size: 24px;
      font-weight: 700;
    };
  };
};