@import '../variables';

.home_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 210px; // referente ao tamanho do footer + a tamanho de espaçamento
  width: 100%;

  .more_container {
    align-items: center;
    background-color: $background-color-red;
    bottom: 0;
    border-radius: 8px;
    color: $font-white;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    gap: 0.3em;
    margin-bottom: 140px;
    position: absolute;
    padding: 2px 10px;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: $font-red;
      background-color: $background-color-white;
    };
  };
};