@import "../variables";
@import "../mixins";

.search_container {
  height: 90vh;
  width: 100%;

  .nav_content {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    padding: {
      top: 40px;
      left: 100px;
    };
    width: 100%;

    .btn_back_home {
      align-items: center;
      color: $font-black;
      display: flex;
      font-size: 20px;
      font-weight: 700;
      gap: 0.3em;
      width: 180px !important;
      text-decoration: none;
      transition: all 0.2s;

      &:hover {
        color: $font-red
      };
    };

    .info_search {
      color: $font-black;
      font-size: 14px;
      margin: {
        top: 2px;
        left: 10px;
      };

      .name {
        color: $font-red;
      };
    };
  };

  .card_container {
    align-items: center;
    display: flex;
    justify-content: start;
    width: 100%;

    .card_content {
      background-color: $background-color-white;
      border: solid 1px $color-black;
      border-radius: 12px;
      flex-direction: column;
      display: flex;
      height: 22em;
      transition: all 0.2s;
      margin: {
        top: 50px;
        left: 100px;
      };
      width: 18em;

      &:hover {
        box-shadow: 0px 0px 15px $color-dark;
      };

      .numeric_id_pokemon {
        color: $font-red;
        margin-left: 14px;
        overflow: hidden;
        padding: 8px;
        width: 100%;

        b {
          font-size: 22px;
        };
      };

      .img_pokemon {
        height: 180px;
        position: relative;
        width: 100%;

        .img {
          object-fit: contain;
          padding: 0px 20px;
        };
      };

      .name_pokemon {
        font-size: 22px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;

        &::first-letter {
          text-transform: uppercase;
        };
      };

      .btn_description {
        background-color: $background-color-red;
        border-radius: 12px;
        color: $font-white;
        display: flex;
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
        margin: {
          top: 16px;
          bottom: 0px;
          left: 88px;
          right: 88px;
        };
        padding: 2px;
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
          background-color: $background-color-red-hover;
        };
      };
    };
  };
};

@media only screen and (max-width: $screen-small) {
  .search_container {
    height: 200%;
    width: 100vw;

    .nav_content {
      padding: {
        top: 20px;
        left: 10px;
      };

      .btn_back_home  {
        width: auto !important;
      };

      .info_search {
        font-size: 20px;
      };
    };

    .card_container {
      justify-content: center;

      .card_content {
        height: 240px;
        margin-left: 0px;
        justify-content: center;

        .numeric_id_pokemon {
          width: auto;
        };

        .img_pokemon .img {
          padding: 0px;
        };

        .btn_description {
          font-size: 14px;
          margin: {
            bottom: 10px;
            top: 0px;
            left: 0px;
            right: 0px;
          };
        };
      };
    };
  };
};

@media only screen and (min-width: $screen-small) and (max-width: $screen-size-mobile) {
  .search_container {
    @include body_style_in_footer(50em);

    .nav_content {
      padding-left: 50px;

      .btn_back_home {
        width: 70%;
      };
    };

    .card_container {
      justify-content: center;

      .card_content {
        margin-left: 0px;
      };
    };
  };
};

@media only screen and (min-width: $screen-size-mobile) {
  .search_container .nav_content .btn_back_home {
    width: 70%;
  };
};
