@mixin type_style($color) {
  color: $font-white;
  background-color: $color;
  border-radius: 14px;
  font-weight: 700;
  padding: 2px 6px;

  &::first-letter {
    text-transform: uppercase;
  };
};


@mixin body_style_in_footer($paddind_b_px) {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: $paddind_b_px; // referente ao tamanho do footer + a tamanho de espaçamento
  width: 100%;
};
