// backgrounds
$background-color-primary: rgb(189, 189, 189);
$background-color-white: white;
$background-color-red: rgb(223, 8, 8);

// fonts
$font-white: #ffffff;
$font-red: rgb(223, 8, 8);

// colors
$color-black: black;
$color-dark: rgb(78, 77, 77);